@import "tailwindcss";

html, body {
  margin: 0;
  background: #050816;
  color: white;
  font-family: Inter, system-ui, sans-serif;
}

::selection {
  background: rgba(255,255,255,0.2);
}

.glass {
  backdrop-filter: blur(20px);
}
